<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{{ hlsfrontend_server_name }} HLS streaming relay</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-184859364-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-184859364-1');
  </script>
</head>
<body>
  <h1>{{ hlsfrontend_server_name }} HLS streaming relay</h1>

  <ul>
  {% for stream in rtsp2hls_streams.keys() -%}
    <li><a href="/play/{{ stream }}.html">{{ rtsp2hls_streams[stream].title }}</a></li>
  {% endfor -%}
  </ul>
</body>
</html>