# Configuration for {{ item.key }} RTSP stream
# {{ ansible_managed }}
#
INPUT_STREAM={{ item.value.input_url }}
STREAM_NAME={{ item.key }}
STREAM_DIRECTORY={{ rtsp2hls_encoder_stream_directory }}
IMAGE_DIRECTORY={{ rtsp2hls_encoder_images_directory }}