[Unit]
Description=transcode RTSP Stream to HLS service
After=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
User={{ rtsp2hls_encoder_username }}
EnvironmentFile=/etc/encoders/%i.env
Type=oneshot

ExecStart=/usr/bin/ffmpeg -y -rtsp_transport tcp -i ${INPUT_STREAM} -vframes 1 -r 1 ${IMAGE_DIRECTORY}/${STREAM_NAME}.jpg
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
