[Unit]
Description=transcode RTSP Stream to HLS service
After=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
User={{ rtsp2hls_encoder_username }}
EnvironmentFile=/etc/encoders/%i.env
Type=simple
Restart=always
RestartSec=30

ExecStart=/bin/sh /usr/bin/rtsp2hls.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
