#!/usr/bin/env sh
# {{ ansible_managed }}

set +x

echo ${INPUT_STREAM}
echo ${STREAM_NAME}
echo ${STREAM_DIRECTORY}

ffmpeg -rtsp_transport tcp -i ${INPUT_STREAM} \
    -f lavfi -i aevalsrc=0 -acodec aac \
    -vcodec copy \
    -hls_list_size 2 -hls_init_time 1 -hls_time 1 -hls_flags delete_segments \
    ${STREAM_DIRECTORY}/${STREAM_NAME}.m3u8
